<!DOCTYPE html>
<html>
	<head>
		<!-- For mobile purposes -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Zell</title>
		
		<!-- 	Bootstrap	 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- jquery -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<!-- Java Script -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/js/main.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<!--  the container-fluid class gives a nice padding with some space in there -->
			<div class="container-fluid">
				<!-- Navbar Header-->
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/users/<%= user.username %>">Bisi</a>
				</div>
				<!-- Links on the RIGHT side of the navbar, collapsing when squeezing the window -->
				<div class="collapse navbar-collapse" id="bs-nav-demo">
					<!-- The links on the right side -->
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/users/<%= user.username %>">Home</a></li>
						<!-- <li><a href="/users/<%= user.username %>/clients">My clients</a></li> -->
						<li><a href="/users/<%= user.username %>/edit">Profile</a></li>
						<li><a href="/logout">Sign out</a></li>
					</ul>
				</div>
			</div>
		</nav>